# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
print("Data", "Science", "Mentorship", "Program",
"By" ,"CampusX",sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [4]:
c=int(input("enter celsius temp : "))
f=c*(9/5) + 32
print(f)

enter celsius temp : 23
73.4

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [5]:
fnum=int(input("enter first number"))
snum=int(input("enter second number"))
print(fnum,snum)
fnum,snum=snum,fnum
print(fnum,snum)

enter first number23
enter second number43
23 43
43 23

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [7]:
x1,y1 = list(map(lambda x:int(x) ,input("enter x1,y1 : ").split(",")))
print(x1,y1)

x2,y2 = list(map(lambda x:int(x) ,input("enter x2,y2 : ").split(",")))
print(x2,y2)
dist = ((x2-x1)**2 +(y2-y1)**2)**0.5
print("the euclidean distance is : ",dist)

enter x1,y1 : 23,34
23 34
enter x2,y2 : 45,67
45 67
the euclidean distance is :  39.66106403010388

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [9]:
p,r,t = list(map(int ,input("enter p, r, t :").split(",")))

print(p*r*t/100)

enter p, r, t :1000,2,3
60.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [10]:
heads = int(input("Enter the number of heads. :"))
legs = int(input("Enter the number of legs. :"))

dogs = (legs/2)-heads
chickens = heads-dogs
print(dogs,chickens)

Enter the number of heads. :4
Enter the number of legs. :12
2.0 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [11]:
n=int(input("Enter numbers : "))
s = n*(n+1)*(2*n +1)/6
print(s)

Enter numbers : 4
30.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [12]:
f = int(input("first number : "))
s = int(input("second number : "))
n = int(input("nth term : "))


d=s-f

t = f + (n-1)*d

print(t)

first number : 2
second number : 3
nth term : 10
11

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [14]:
from math import pi

h,l,b = list(map(int ,input("enter h,l,b :").split(",")))

ph,pr = list(map(int ,input("enter ph,pr :").split(",")))

vol_tank = h*l*b
vol_glass = pi*(pr**2)*ph
print("number of glasses : ",vol_tank,vol_glass ,vol_tank/vol_glass)

enter h,l,b :20,20,20
enter ph,pr :3,1
number of glasses :  8000 9.42477796076938 848.8263631567752