# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [ ]:
# write your code here

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [2]:
orgn_t = (1,5,7,8,10)
length = len(orgn_t)
l=[]
prev=0
next=0
for i in range(length):
  if i==0:
    next = orgn_t[i]*orgn_t[i+1]
    l.append((prev+next))

  elif i+1==length:
    l.append((next))
  else:
    prev=next
    next = orgn_t[i]*orgn_t[i+1]
    l.append((prev+next))
print(l)

[5, 40, 91, 136, 80]

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [4]:
t1 = (1,2,3,4)#(1,2,3,0)
t2 = (1,2,3,4)#(0,1,2,3)

if len(t1)==(len(t2)):
  for i in range(len(t1)):
    if t1[i]!=t2[i]:
      print("t1 and t2 are not same")
      break
  else:
    print("t1 and t2 are the same")
else:
  print("t1 and t2 are not same")

t1 and t2 are the same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [13]:
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]
l=0
s=0
t=0
for i in list1:
  if type(i)==list:
    # print(type(i))
    l+=1
  elif type(i)==set:
    s+=1
  elif type(i)==tuple:
    t+=1
print(f"List - {l}")
print(f"Set - {s}")
print(f"Tuples - {t}")

<class 'list'>
<class 'list'>
List - 2
Set - 2
Tuples - 1

In [8]:
type([1,2])==list

True

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [4]:
class ClassRoom:
  def __init__(self):
    self.stud_list =[]

  def stud_entry(self):
    num_rec = int(input("Enter No of records - "))
    cnt=0
    while cnt<num_rec:
      print(f"Enter Details of student- {cnt+1}")
      name = input("Enter Student name-" )
      he = input(f"Enter Higher Education-")
      yr = input(f"Enter Year of Graduation-")
      skill = input(f"Enter Primary Skill-")
      cnt+=1
    self.stud_list.append((name, he,skill,yr))

  def job_reqd(self):
    he = input(f"Enter Higher Education-")
    yr = input(f"Enter Year of Graduation-")
    skill = input(f"Enter skill-")

    for i in self.stud_list:
      if i[1]==he and i[2]==skill and i[3]==yr:
        return i
      else:
        continue

In [5]:
s=ClassRoom()
s.stud_entry()

Enter No of records - 2
Enter Details of student- 1
Enter Student name-abc
Enter Higher Education-be
Enter Year of Graduation-ml
Enter Primary Skill-python
Enter Details of student- 2
Enter Student name-acbd
Enter Higher Education-btech
Enter Year of Graduation-2011
Enter Primary Skill-ml

In [6]:
s.job_reqd()

Enter Higher Education-btech
Enter Year of Graduation-2011
Enter skill-ml

('acbd', 'btech', 'ml', '2011')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [15]:
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]
list(set(ar1)&set(ar2)&set(ar3))

[80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [8]:
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
s=set()
for i in Str1:
  if i.upper() in 'AEIOU':
    s.add(i)

print(len(s))

6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [10]:
str1 = input('Input string')

l = len(set(str1))

if l==2:
  print('Yes')
else:
  print('No')

Input stringshashank
No

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [12]:
mat = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

s=set()
for i in mat:
  s=s|set(i)

print(list(s))

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [14]:
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

[i for i in lst2 if i in lst1]

[4, 5, 9, 10]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [38]:
# test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

max(((i[0],len(set(i[1]))) for i in test_dict.items()),key = lambda x:x[1])[0]

'CampusX'

### `Q2`: Replace words from Dictionary. Given String, replace itâ€™s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [42]:
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}

test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

test_list = test_str.split(' ')
s=''
for i in test_list:
  if repl_dict.get(i):
    s+=repl_dict.get(i)+' '
  else:
    s+=i+' '
print(s)

CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [45]:
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

test_list = ["CampusX", 10]
key_list = ["name", "id"]

l=[]
i=0
while i<len(test_list):
  d={}
  for j in key_list:
    d[j]=test_list[i]
    i+=1
  l.append(d)
l

[{'name': 'CampusX', 'id': 10}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [46]:
test = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

d={}
for i in test:
  d[i[0]]=[i[1]]
d

{'akash': [10],
 'gaurav': [12],
 'anand': [14],
 'suraj': [20],
 'akhil': [25],
 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [52]:
from collections import OrderedDict
test = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

l=[]
d={}
d2={}
for i in test.items():
  d[i[0]]=sorted(i[1])
for i in sorted(d):
  d2[i]=d[i]
d2

{'a': [4, 19], 'b': [10, 12], 'c': [3]}